<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href= "/styles/main.css">
    <script src="/scripts/main.js"></script>
    <title></title>
  </head>
  <body>
   <section id ="heading">
     <h1>Toki Time</h1>
       <img src="/images/clock1.jpg" alt="logo">
   </section>
   <section id ="navigation"><nav>
     <ul>
       <li>Checklist</li>
       <br></br>
       <li>Add New Event</li>
       <br></br>
       <li>Resources</li>
       <br></br>
       <li>Settings</li>
     </ul>
  </nav>
</section>
  <section id = "calendar"></section>

  </body>
</html>
