<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href= "/styles/main.css">
    <script src="/scripts/main.js"></script>
    <title></title>
  </head>
  <body>
   <section id ="heading"><h1>Toki Time</h1></section>
   <section id ="navigation"><nav>
     <ul>
       <li>Checklist</li>
       <br></br>
       <li>Add New Event</li>
       <br></br>
       <li>Resources</li>
       <br></br>
       <li>Settings</li>
      <!-- under settings we need to include add and subtract events  -->
     </ul>
  </nav></section>
  </body>
</html>
