body {
  height:100vh;
  display:grid;
  grid-template-columns:300px auto;
  grid-template-rows:100px auto;
}


h1 {
  border-style: solid;
  border-width: 5px;
  height:100vh;
  font-size: 100px;
  text-align:center;
  background-color: rgb(123,104,238);
  font-family: 'Montserrat', sans-serif;
  grid-row:1;
  grid-column:1 /span 2;
  padding-top:5px;
}

nav {
  border-style: solid;
  border-width: 5px;
  font-size: 40px;
  padding:5px;
  background-color:rgb(255,228,196);
  grid-row:3/span 4;
  grid-column: 1;

}

section {

}

nav li {
    list-style-type:none;
}
